@property --progress {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

.container {
  border-radius: 50%;
  transform: rotate(115deg);
  background: radial-gradient(closest-side, white 96%, transparent 100% 100%),
    conic-gradient(#0222a5 var(--progress), white 0);
  transition: --progress 0.5s;
  --progress: 85%;

  &:hover {
    --progress: 0%;
  }

  //if doesn't support
  @-moz-document url-prefix() {
    &:hover {
      --progress: 85%
    }
  }
}
